<!DOCTYPE html>
<html ng-app="rdb" ng-controller="MainCtrl">
<head>
  <title ng-if="!process">rdb &ndash; disconnected</title>
  <title ng-if="process">rdb &ndash; connected: {{process.id}}</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1, width=device-width">
  <script src="/js/angular.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/ace/ace.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/lato.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/editor.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
</head>
<body>
  <div class="main-container">
    <div class="toolbar">
      <div class="commands">
        <span ng-if="running"><a ng-click="pause()" href="" class="btn">Pause</a></span>
        <span ng-if="!running">
          <a ng-click="resume()" href="" class="btn">Continue</a>
          <a ng-click="stepIn()" href="" class="btn">Step In</a>
          <a ng-click="stepOver()" href="" class="btn">Step Over</a>
          <a ng-click="stepOut()" href="" class="btn">Step Out</a>
          <a ng-click="gotoCurrent()" ng-if="!isCurrent" href="" class="btn">Current</a>
        </span>
      </div>
    </div>
    <div class="content-container">
      <div class="sidebar">
        <ul>
          <li class="group">
            <h3>Threads <span class="stat">{{threads.length}}</span></h3>
            <ul class="threads">
              <li ng-class="{ 'thread': true, 'active': thread == activeThread }" ng-repeat="thread in threads">
                <a class="nav" href="">{{thread.backtrace[0].method}}</a>
              </li>
            </ul>
          </li>
          <li class="group">
            <h3>Stack <span class="stat">{{activeThread.backtrace.length}}</span></h3>
            <ul class="frames">
              <li ng-class="{ 'frame': true, 'active': frame == activeFrame }" ng-repeat="frame in activeThread.backtrace">
                <div class="nav" ng-click="setActiveFrame(frame)">
                  <span class="method">{{frame.method}}</span>
                  <a class="location" ng-click="openFile(frame.path, frame.line)" href="">{{frame.file}}:{{frame.line}}</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="source-container">
        <pre id="source-editor" data-ace="" data-ng-model="currentSource"></pre>
      </div>
      <div class="expr-container">
        <pre id="expr-editor" ng-controller="ExprCtrl"></pre>
      </div>
    </div>
  </div>
</body>
</html>
